@import "components/menu"
@import "components/header"
@import "components/footer"

//full screen
@media screen and (min-width: 851px)
  #app
    font-family: 'Varela Round', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50
  .containerPage
    width: 1024px
    position: relative
    left: 50%
    margin-right: -50%
    transform: translate(-50%, 0)
  .priceTable
    width: 1024px
    border: 1px solid black
    border-collapse: collapse
  .tableOneThItem
    width: 100px
  .tableTwoThItem
    width: 180px
  .contactContent
    padding-top: 2%
    text-align: left
    font-size: 24px

//mobile device
@media screen and (max-width: 850px)
  #app
    font-family: 'Varela Round', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50
    margin: 0 auto
  .containerPage
    width: 100%
    position: relative
    left: 50%
    margin-right: -50%
    transform: translate(-50%, 0)
  .priceTable
    //width: 300px
    border: 1px solid black
    border-collapse: collapse
    font-size: 12px
  .tableOneThItem
    width: 20px
  .tableTwoThItem
    width: 180px
    font-size: 10px
  .contactContent
    padding-top: 2%
    text-align: left
    font-size: 18px

//mobile device iPhone 5/se
@media screen and (max-width: 330px)
  #app
    font-family: 'Varela Round', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50
    margin: 0 auto
  .containerPage
    position: relative
    padding-left: 2%
    padding-right: 2%
  .priceTable
    width: 300px
    border: 1px solid black
    border-collapse: collapse
    font-size: 10px
  .tableOneThItem
    width: 20px
  .tableTwoThItem
    width: 180px
  .contactContent
    padding-top: 2%
    text-align: left